ul {
  list-style-type: none;
}


.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card:hover {
  background: lightgray;
  cursor: pointer;
}

.remove {
  margin: 20px;
}

.card p {
  text-align: center;
  font: 100px/220px Georgia, Times New Roman, serif;
}

.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
}

.suithearts:before, .suithearts:after {
  content: "♥";
  color: #ff0000;
}

.suitclubs:before, .suitclubs:after {
  content: "♣";
  color: #000;
}

.suitspades:before, .suitspades:after {
  content: "♠";
  color: #000;
}

div[class*='suit']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}

div[class*='suit']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
}
  .myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #59ff00));
	background:-moz-linear-gradient(top, #44c767 5%, #59ff00 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #59ff00 100%);
	background:-o-linear-gradient(top, #44c767 5%, #59ff00 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #59ff00 100%);
	background:linear-gradient(to bottom, #44c767 5%, #59ff00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#59ff00',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:18px 27px;
	text-decoration:none;
	text-shadow:0px 2px 6px #2f6627;
  display: flex;
  justify-content: center;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #59ff00), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #59ff00 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #59ff00 5%, #44c767 100%);
	background:-o-linear-gradient(top, #59ff00 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #59ff00 5%, #44c767 100%);
	background:linear-gradient(to bottom, #59ff00 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#59ff00', endColorstr='#44c767',GradientType=0);
	background-color:#59ff00;
}
.myButton:active {
	position:relative;
	top:1px;
}
.jumbotron {
  text-align: center;
  background-image: url("../img/cards.png");
  color: white;

}
.jumbotron h1 {
text-shadow: 2px 2px 5px blue;
}
